name: Code testing

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version:
          - '29.4'
          - '30.1'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Run tests
        run: make test
